<div id="overall-stats" class="col-md-3 col-lg-2 pt-4 overflow-auto">
    <h2 class="text-center"><i class="fa fa-calculator"></i> STATISTICS</h2>
    <p class="text-center w-100">as of <span id="log-time">------------------</span></p>
    <div id="overall-stats-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <h2 class="display-4 text-warning font-weight-bold"><i class="fa fa-thermometer-half"></i> <span class="count" id="pum-total">---</span></h2>
                        <h5 class="text-warning">Total PUM</h5>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-primary"><i class="fa fa-check-square-o"></i> <span id="pum-completed" class="count">---</span> Completed</h5>
                        <small>14 Days Quarantine</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5><i class="fa fa-hourglass-half"></i> <span id="pum-ongoing" class="count">---</span> Ongoing</h5>
                        <small>14 Days Quarantine</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-success"><i class="fa fa-thumbs-o-up"></i> <span id="pum-cleared" class="count">---</span> Cleared</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <h2 class="display-4 text-danger font-weight-bold"><i class="fa fa-thermometer-full"></i> <span class="count" id="pui-total">---</span></h2>
                        <h5 class="text-danger">Total PUI</h5>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-primary"><i class="fa fa-check-square-o"></i> <span id="pui-completed" class="count">---</span> Completed</h5>
                        <small>14-day Home Quarantine</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5><i class="fa fa-hospital-o"></i> <span id="pui-admitted" class="count">---</span> Admitted</h5>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5><i class="fa fa-home"></i> <span id="pui-home" class="count">---</span> Home Quarantined</h5>
                        <small>with mild symptoms</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-success"><i class="fa fa-thumbs-o-up"></i> <span id="pui-cleared" class="count">---</span> Cleared</h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#overall-stats-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#overall-stats-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
