{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
    <div id="charts" class="container-fluid py-5">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h1 class="display-5">Malaybalay City COVID-19 Charts</h1>
                <h4>as of <span id="log-time">------------------</span></h4>
            </div>
            <div class="col-md-3 mt-5">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <h2 class="display-4 text-warning font-weight-bold"><i class="fa fa-thermometer-half"></i> <span class="count" id="pum-total">---</span></h2>
                        <h5 class="text-warning">Total PUM</h5>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-primary"><i class="fa fa-check-square-o"></i> <span id="pum-completed" class="count">---</span> Completed</h5>
                        <small>14 Days Quarantine</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5><i class="fa fa-hourglass-half"></i> <span id="pum-ongoing" class="count">---</span> Ongoing</h5>
                        <small>14 Days Quarantine</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-success"><i class="fa fa-thumbs-o-up"></i> <span id="pum-cleared" class="count">---</span> Cleared</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <h2 class="display-4 text-danger font-weight-bold"><i class="fa fa-thermometer-full"></i> <span class="count" id="pui-total">---</span></h2>
                        <h5 class="text-danger">Total PUI</h5>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-primary"><i class="fa fa-check-square-o"></i> <span id="pui-completed" class="count">---</span> Completed</h5>
                        <small>14-day Home Quarantine</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5><i class="fa fa-hospital-o"></i> <span id="pui-admitted" class="count">---</span> Admitted</h5>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5><i class="fa fa-home"></i> <span id="pui-home" class="count">---</span> Home Quarantined</h5>
                        <small>with mild symptoms</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <h5 class="text-success"><i class="fa fa-thumbs-o-up"></i> <span id="pui-cleared" class="count">---</span> Cleared</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div id="top-10-pum">
                    <h3 class="text-center"></h3>
                    <ul class="list-group mt-2"></ul>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div id="top-10-pui">
                    <h3 class="text-center"></h3>
                    <ul class="list-group mt-2"></ul>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div id="overall-pum-chart"></div>
            </div>
            <div class="col-md-6 mt-4">
                <div id="overall-pui-chart"></div>
            </div>
            <div class="col-md-6 mt-4">
                <div id="baragay-pum-pie"></div>
            </div>
            <div class="col-md-6 mt-4">
                <div id="baragay-pui-pie"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addscripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js"></script>
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock %}