{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid pt-5 h-100">
        <div class="row h-100">
            {% include 'webapp/components/barangaylist.html' %}
            <div class="col-md-6 col-lg-8">
                <div id="map"></div>
            </div>
            {% include 'webapp/components/overallstats.html' %}
        </div>
    </div>
{% endblock %}

{% block addscripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{% static 'js/heatmap.min.js' %}"></script>
    <script src="{% static 'js/leaflet-heatmap.js' %}"></script>
    <script src="{% static 'js/maindash.js' %}"></script>
{% endblock %}