html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: auto;
}

html, body, #map {
    height: 100%;
}

#map {
    min-height: 400px;
}

#graph {
    min-height: 400px;
}

#chart-area {
    height: 25%;
}

#map-area {
    height: 75%;
}

#barangay-list, #overall-stats {
    padding: 4px;
}

#barangay-list ul, #overall-stats-carousel {
    overflow-y: auto;
    max-height: 450px;
}

#barangay-list ul li {
    cursor: pointer;
}

#barangay-list ul li:hover {
    color: #fff;
    background-color: #0f0f0f;
}

.barangay-pin p, #overall-stats-carousel h5 {
    margin: 0px;
}

#top-10-pum li, #top-10-pui li {
    padding: .5rem 1.25rem;
}

#top-10-pum li span, #top-10-pui li span {
    font-size: 100%;
}

#page-header {
    height: 300px;
}

@media (min-width: 300px) and (max-width: 768px) {
    #page-header {
        height: 200px;
    }

    #page-header h1 {
        font-size: 2.25em;
    }

    #map {
        height: 75%;
    }

    #barangay-list ul, #overall-stats-carousel {
        overflow-y: auto;
        max-height: none;
    }
}

@media (min-width: 1400px) {
    #barangay-list ul, #overall-stats-carousel {
        max-height: 800px;
    }
}